*.pdf
*.nav
*.snm
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.synctex.gz.sum.synctex
*.run.xml
.DS_Store
*.fls
*.fdb_latexmk
*.swp
*.swo
